<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Detail page</h1>

<div>
    <p>title : {{detail.title}} </p>
    <p>writer: {{detail.user_name}}</p>
    <p>num : {{detail.user_num}}</p> 
    <p>
    contents
        <br>
    {{detail.content}}
    </p>
    
    
</div>

<a href="{% url 'edit' detail.id %}">수정</a><br><br>

<a href="{% url 'delete' detail.id %}">삭제하기</a><br><br>

<a href="{% url 'main' %}">뒤로가기</a>
</body>
</html>

